@font-face {
  font-family: 'Chaney UltraExtended';
  src: url('../public/fonts/chaney-ultraextended.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sofia Pro Regular Az';
  src: url('../public/fonts/sofia-pro-regular-az.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Chaney UltraExtended', sans-serif;
}
h1 {
  font-family: 'Sofia Pro Regular Az', sans-serif;
}

p {
  font-family: 'Sofia Pro Regular Az', sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
